<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <link href="../static/css/lpage.css" th:href="@{/css/lpage.css}" rel="stylesheet"/>
</head>
<body>
<div class="landing-page">
    <header>
        <div class="container">
            <a href="#" class="logo">Play list <b>Generator</b></a>
            <div>
                <h3>
                    <a href="#" th:unless="${isAuthenticated}" th:href="@{/auth/login}">Login </a>
                    <a href="#" th:unless="${isAuthenticated}" th:href="@{/auth/register}">Register</a>
                </h3>
            </div>
        </div>
    </header>

    <div class="content">
        <div class="container">
            <div class="info">
                <h1>Looking For Inspiration</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus odit nihil ullam nesciunt quidem iste, Repellendus odit nihil</p>
                <button>
                    <a href="#" th:unless="${isAuthenticated}" th:href="@{/auth/register}">Register NOW!</a>
                </button>

        </div>
    </div>
</div>
</div>
</body>
</html>
