<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="../static/css/login.css" th:href="@{/css/login.css}" rel="stylesheet"/>
</head>
<body>
<div class="body-content">
    <h2>Login</h2>
    <form action="@{/auth/login}" method="post" th:object="${login}">
        <label th:text="#{user.label.username}">Username</label>
        <br/>
        <input type="text" th:field="*{username}"/>
        <label class="error" th:errors="*{username}">Username error placeholder</label>
        <br/><br/>

        <label th:text="#{user.label.password}">Password</label>
        <br/>
        <input type="password" th:field="*{password}"/>
        <label class="error" th:errors="*{password}">Password error placeholder</label>
        <br/><br/>

        <input type="submit" value="Login"/>
        <a th:href="@{/}" class="back-button">Back</a>
    </form>
</div>
</body>
</html>
