<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="../static/css/register.css" th:href="@{/css/register.css}" rel="stylesheet"/>
</head>
<body>
<div class="body-content">
    <h2>Register</h2>
    <form action="@{/auth/register}" method="post" th:object="${register}">
        <label th:text="#{user.label.username}">Username</label>
        <br/>
        <input type="text" th:field="*{username}"/>
        <label class="error" th:errors="*{username}">Username error placeholder</label>
        <br/><br/>

        <label th:text="#{user.label.password}">Password</label>
        <br/>
        <input type="password" th:field="*{password}"/>
        <label class="error" th:errors="*{password}">Password error placeholder</label>
        <br/><br/>

        <label th:text="#{user.label.password-confirm}">Confirm Password</label>
        <br/>
        <input type="password" th:field="*{passwordConfirm}"/>
        <label class="error" th:errors="*{passwordConfirm}">Password confirm error placeholder</label>
        <br/><br/>

        <label th:text="#{user.label.email}">Email</label>
        <br/>
        <input type="text" th:field="*{email}"/>
        <label class="error" th:errors="*{email}">Email error placeholder</label>
        <br/><br/>

        <input type="submit" value="Register"/>
        <a th:href="@{/}" class="back-button">Back</a>
    </form>
</div>
</body>
</html>
