body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa;
}

.jumbotron {
    background-color: #ffffff;
    margin-top: 50px;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.container-fluid {
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    color: #343a40;
}

p {
    color: #6c757d;
}

.form-horizontal {
    margin-top: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.control-label {
    font-size: 24px;
    color: #007bff;
}

.form-control {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

.btn-info {
    background-color: #007bff;
    color: #ffffff;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-info:hover {
    background-color: #0056b3;
}

#googleMap {
    height: 300px;
    margin-top: 20px;
}

#output {
    margin-top: 20px;
    font-size: 18px;
}
