/* Reset some default styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    background: url('https://i.etsystatic.com/39688730/r/il/8b530c/4505600134/il_570xN.4505600134_2oof.jpg') center center fixed;
    background-size: cover;
}

body {
    font-family: 'Poppins', sans-serif;
}

h2 {
    color: #333;
    text-align: center;
    margin: 20px 0;
}

form {
    background-color: whitesmoke;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin: 10px 0 5px;
}

input {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

/* Add some spacing between elements */
#calculatedTime {
    margin-top: 10px;
}

/* Style the result div */
div {
    background-color: white;
    padding: 10px;
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Responsive styles */
@media (max-width: 600px) {
    form {
        width: 80%;
    }
}

.fullscreen-gif {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;max-width: 100%;
    max-height: 100%;
}
